<!-- 
	CONTAINER SLIDER SECTION
-->
<div class="row slider">
	<div class="twelve columns">
		
		<div id="content">
			<div id="banners">
    			<div class="slidecontainer">
    				<div class="slides nivoSlider"><img style="display: inline; width: 630px; height: 305px;" class="nivo-main-image" src="http://cdn.shopify.com/s/files/1/0092/7632/t/3/assets/slide_1_image.png?0">
            
        				<div class="nivo-directionNav">
        					<a class="nivo-prevNav">Prev</a>
        					<a class="nivo-nextNav">Next</a>
        				</div>
        			</div><!-- .slides -->
    			</div><!-- .slidecontainer -->
				<div class="imagelink">
        			<a href="http://naturale-theme.myshopify.com/pages/theme-settings">
            			<img alt="Expression Theme Documentation and Feature list" src="http://cdn.shopify.com/s/files/1/0092/7632/t/3/assets/banner_right_image.png?0">
        			</a>
    			</div><!-- .imagelink -->
			</div>
		</div>
	</div>
</div>	

<!-- 
	CONTAINER CONTENT SECTION
-->

<div class="container main-content">
	<div class="row row-main-content">
		<section class="clearfix" id="body">
			<div class="sidebar">
				<div class="sidebar">
	
					<nav>
						<span class="heading">Menu Principal</span>
						<ul>
							<li><a class="current" href="/">Roupas</a></li>
							<li><a class="current" href="/">Vestidos</a></li>
							<li><a class="current" href="/">Camisas</a></li>
							<li><a href="/collections/frontpage">Acessórios</a>
  								<ul class="subcategory">
    								<li><a href="/products/">Bolsas</a></li>
    								<li><a href="/products/">Conforto dos Pés</a></li>
    								<li><a href="/products/">Carteiras</a></li>
							  </ul>
							</li>
							<li><a href="/pages/about-us">Calças</a></li>
						</ul>
					</nav>

					<nav>
						<span class="heading">Marcas</span>
						<ul>
							<li><a class="current" href="/">Hollister</a></li>
							<li><a class="current" href="/">Albercrombie</a></li>
							<li><a class="current" href="/">Aeropostale</a></li>
							<li><a href="/collections/frontpage">Acessórios</a>
  								<ul class="subcategory">
    								<li><a href="/products/">Bolsas</a></li>
    								<li><a href="/products/">Conforto dos Pés</a></li>
    								<li><a href="/products/">Carteiras</a></li>
							  </ul>
							</li>
						</ul>
					</nav>

					<nav>
						<span class="heading">Tamanhos</span>
						<ul>
							<li><a class="current" href="/">P</a></li>
							<li><a class="current" href="/">M</a></li>
							<li><a class="current" href="/">36</a></li>
							<li><a class="current" href="/">38</a></li>
						</ul>
					</nav>

				</div>
			</div>
			<div class="main">
				<div class="clearfix" id="index">
					<h1>Produtos em Destaque</h1>
  					<div class="clearfix" id="collection">
						<div class="product" id="product-loop-gray-pinstriped-straight-fit">
						  <div class="image">
						    <a href="/collections/frontpage/products/gray-pinstriped-straight-fit">
						      <img alt="Gray Pinstriped Straight Fit" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gap-gray-pinstriped-straight-fit_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/gray-pinstriped-straight-fit">
						      <span class="title">Gray Pinstriped Straight Fit</span>
						      <span class="price">$59.99 </span>
						    </a>
						  </div>
						</div>

						<div class="product" id="product-loop-gray-wash-jeans">
						  <div class="image">
						    <a href="/collections/frontpage/products/gray-wash-jeans">
						      <img alt="Gray Wash Jeans" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gray_wash_jeans_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/gray-wash-jeans">
						      <span class="title">Gray Wash Jeans</span>
						      <span class="price">$69.99 <span class="sale">Sale</span></span>
						    </a>
						  </div>
						</div>

						<div class="product" id="product-loop-grey-tailored-pants-slim-fit">
						  <div class="image">
						    <a href="/collections/frontpage/products/grey-tailored-pants-slim-fit">
						      <img alt="Grey Tailored Pants Slim Fit" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gap-tailored-pants-slim-fit_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/grey-tailored-pants-slim-fit">
						      <span class="title">Grey Tailored Pants Slim Fit</span>
						      <span class="price">$59.99 </span>
						    </a>
						  </div>
						</div>

						<div style="clear:both;"></div>

						<div class="product last" id="product-loop-khaki-relaxed-fit">
						  <div class="image">
						    <a href="/collections/frontpage/products/khaki-relaxed-fit">
						      <img alt="Khaki Relaxed Fit" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gap_khaki_relaxed_fit_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/khaki-relaxed-fit">
						      <span class="title">Khaki Relaxed Fit</span>
						      <span class="price">$59.99 <span class="sale">Sale</span></span>
						    </a>
						  </div>
						</div>

						<div class="product" id="product-loop-mustard-wash-jeans">
						  <div class="image">
						    <a href="/collections/frontpage/products/mustard-wash-jeans">
						      <img alt="Mustard Wash Jeans" src="http://cdn.shopify.com/s/files/1/0076/6222/products/mustard-wash-jeabs_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/mustard-wash-jeans">
						      <span class="title">Mustard Wash Jeans</span>
						      <span class="price">$69.99 </span>
						    </a>
						  </div>
						</div>

						<div class="product" id="product-loop-navy-pinstriped-relaxed-fit">
						  <div class="image">
						    <a href="/collections/frontpage/products/navy-pinstriped-relaxed-fit">
						      <img alt="Navy Pinstriped Relaxed Fit" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gap-navy-pinstriped-straight-fit_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/navy-pinstriped-relaxed-fit">
						      <span class="title">Navy Pinstriped Relaxed Fit</span>
						      <span class="price">$59.99 </span>
						    </a>
						  </div>
						</div>

						<div style="clear:both;"></div>

						<div class="product" id="product-loop-paint-splattered-black-jeans">
						  <div class="image">
						    <a href="/collections/frontpage/products/paint-splattered-black-jeans">
						      <img alt="Paint Splattered Black Jeans" src="http://cdn.shopify.com/s/files/1/0076/6222/products/paint-splatter-faded-black_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/paint-splattered-black-jeans">
						      <span class="title">Paint Splattered Black Jeans</span>
						      <span class="price">$69.99 </span>
						    </a>
						  </div>
						</div>

						<div class="product last" id="product-loop-rigid-rinse-jeans">
						  <div class="image">
						    <a href="/collections/frontpage/products/rigid-rinse-jeans">
						      <img alt="Rigid Rinse Jeans" src="http://cdn.shopify.com/s/files/1/0076/6222/products/rigid-rinse-jeans_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/rigid-rinse-jeans">
						      <span class="title">Rigid Rinse Jeans</span>
						      <span class="price">$69.99 </span>
						    </a>
						  </div>
						</div>

						<div class="product" id="product-loop-gray-pinstriped-straight-fit">
						  <div class="image">
						    <a href="/collections/frontpage/products/gray-pinstriped-straight-fit">
						      <img alt="Gray Pinstriped Straight Fit" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gap-gray-pinstriped-straight-fit_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/gray-pinstriped-straight-fit">
						      <span class="title">Gray Pinstriped Straight Fit</span>
						      <span class="price">$59.99 </span>
						    </a>
						  </div>
						</div>

						<div style="clear:both;"></div>
						    
					</div>

				</div> <!-- /#index -->

				<div style="display:block;" class="collection recently-viewed-products" id="recently-viewed">
					<h2>Visualizados Recentemente...</h2>
					<div class="products clearfix">
						<div class="product" id="product-loop-gray-pinstriped-straight-fit">
						  <div class="image">
						    <a href="/collections/frontpage/products/gray-pinstriped-straight-fit">
						      <img alt="Gray Pinstriped Straight Fit" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gap-gray-pinstriped-straight-fit_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/gray-pinstriped-straight-fit">
						      <span class="title">Gray Pinstriped Straight Fit</span>
						      <span class="price">$59.99 </span>
						    </a>
						  </div>
						</div>

						<div class="product" id="product-loop-gray-wash-jeans">
						  <div class="image">
						    <a href="/collections/frontpage/products/gray-wash-jeans">
						      <img alt="Gray Wash Jeans" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gray_wash_jeans_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/gray-wash-jeans">
						      <span class="title">Gray Wash Jeans</span>
						      <span class="price">$69.99 <span class="sale">Sale</span></span>
						    </a>
						  </div>
						</div>

						<div class="product" id="product-loop-grey-tailored-pants-slim-fit">
						  <div class="image">
						    <a href="/collections/frontpage/products/grey-tailored-pants-slim-fit">
						      <img alt="Grey Tailored Pants Slim Fit" src="http://cdn.shopify.com/s/files/1/0076/6222/products/gap-tailored-pants-slim-fit_medium.jpg?14" style="">
						    </a>
						  </div>
						  <div class="details">
						    <a href="/collections/frontpage/products/grey-tailored-pants-slim-fit">
						      <span class="title">Grey Tailored Pants Slim Fit</span>
						      <span class="price">$59.99 </span>
						    </a>
						  </div>
						</div>
					</div>
				</div> <!-- /#recently-viewed -->

			</div>
		</section>
		
	</div>
</div>